Repository SOPT-all/35-STUDY-WEB-ITSMEREACT, pull requests merged in 2024-11, with the labels that each got.

#2 [Week1_김건휘 실습]
  node_modules/.yarn-integrity
  week1_KIMGEONHWI/.gitignore
  week1_KIMGEONHWI/README.md
  week1_KIMGEONHWI/eslint.config.js
  week1_KIMGEONHWI/index.html
  week1_KIMGEONHWI/package.json
  week1_KIMGEONHWI/public/vite.svg
  week1_KIMGEONHWI/src/App.jsx
  week1_KIMGEONHWI/src/components/Button.jsx
  week1_KIMGEONHWI/src/components/Card.jsx
  week1_KIMGEONHWI/src/components/Greeting.jsx
  week1_KIMGEONHWI/src/components/Message.jsx
  week1_KIMGEONHWI/src/components/UserProfile.jsx
  week1_KIMGEONHWI/src/main.jsx
  week1_KIMGEONHWI/vite.config.js
  week1_KIMGEONHWI/yarn.lock
  yarn.lock
Labels: week1

#3 [week1_김다현 실습]
  week1_KIMDAHYUN/.eslintrc.cjs
  week1_KIMDAHYUN/.gitignore
  week1_KIMDAHYUN/README.md
  week1_KIMDAHYUN/index.html
  week1_KIMDAHYUN/package-lock.json
  week1_KIMDAHYUN/package.json
  week1_KIMDAHYUN/public/vite.svg
  week1_KIMDAHYUN/src/App.css
  week1_KIMDAHYUN/src/App.jsx
  week1_KIMDAHYUN/src/assets/react.svg
  week1_KIMDAHYUN/src/components/ProfileCard.jsx
  week1_KIMDAHYUN/src/index.css
  week1_KIMDAHYUN/src/main.jsx
  week1_KIMDAHYUN/vite.config.js
Labels: week1

#4 [week1_이윤지 실습]
  week1/.gitignore
  week1/README.md
  week1/package-lock.json
  week1/package.json
  week1/public/favicon.ico
  week1/public/index.html
  week1/public/logo192.png
  week1/public/logo512.png
  week1/public/manifest.json
  week1/public/robots.txt
  week1/src/App.css
  week1/src/App.js
  week1/src/App.test.js
  week1/src/index.css
  week1/src/index.js
  week1/src/logo.svg
  week1/src/reportWebVitals.js
  week1/src/setupTests.js
Labels: week1

#7 [week1_한수정 실습]
  week1_HANSOOJEONG/.gitignore
  week1_HANSOOJEONG/README.md
  week1_HANSOOJEONG/eslint.config.js
  week1_HANSOOJEONG/index.html
  week1_HANSOOJEONG/package.json
  week1_HANSOOJEONG/public/vite.svg
  week1_HANSOOJEONG/src/App.css
  week1_HANSOOJEONG/src/App.jsx
  week1_HANSOOJEONG/src/Butler.jsx
  week1_HANSOOJEONG/src/CatList.jsx
  week1_HANSOOJEONG/src/Greeting.jsx
  week1_HANSOOJEONG/src/assets/react.svg
  week1_HANSOOJEONG/src/index.css
  week1_HANSOOJEONG/src/main.jsx
  week1_HANSOOJEONG/vite.config.js
  week1_HANSOOJEONG/yarn.lock
Labels: week1

#8 [Week2_이윤지 실습]
  2주차/week2/.gitignore
  2주차/week2/README.md
  2주차/week2/package-lock.json
  2주차/week2/package.json
  2주차/week2/public/favicon.ico
  2주차/week2/public/index.html
  2주차/week2/public/logo192.png
  2주차/week2/public/logo512.png
  2주차/week2/public/manifest.json
  2주차/week2/public/robots.txt
  2주차/week2/src/App.css
  2주차/week2/src/App.js
  2주차/week2/src/App.test.js
  2주차/week2/src/index.css
  2주차/week2/src/index.js
  2주차/week2/src/logo.svg
  2주차/week2/src/reportWebVitals.js
  2주차/week2/src/setupTests.js
Labels: week2

#9 [week2_한수정 실습]
  week2_HANSOOJEONG/.gitignore
  week2_HANSOOJEONG/README.md
  week2_HANSOOJEONG/eslint.config.js
  week2_HANSOOJEONG/index.html
  week2_HANSOOJEONG/package.json
  week2_HANSOOJEONG/src/App.css
  week2_HANSOOJEONG/src/App.jsx
  week2_HANSOOJEONG/src/components/conditional-rendering/Item.jsx
  week2_HANSOOJEONG/src/components/conditional-rendering/PackingList.jsx
  week2_HANSOOJEONG/src/components/conditional-rendering/PackingListStyle.jsx
  week2_HANSOOJEONG/src/components/keeping-components-pure/Button.jsx
  week2_HANSOOJEONG/src/components/keeping-components-pure/ButtonStyle.jsx
  week2_HANSOOJEONG/src/components/keeping-components-pure/Counter.jsx
  week2_HANSOOJEONG/src/components/rendering-lists/ItemList.jsx
  week2_HANSOOJEONG/src/components/rendering-lists/ItemListStyle.jsx
  week2_HANSOOJEONG/src/index.css
  week2_HANSOOJEONG/src/main.jsx
  week2_HANSOOJEONG/src/style/GlobalStyle.js
  week2_HANSOOJEONG/src/style/theme.js
  week2_HANSOOJEONG/vite.config.js
  week2_HANSOOJEONG/yarn.lock
Labels: week2

#10 [week2_박채연 실습]
  week2_PARKCHAEYEON/.gitignore
  week2_PARKCHAEYEON/README.md
  week2_PARKCHAEYEON/index.html
  week2_PARKCHAEYEON/package.json
  week2_PARKCHAEYEON/public/vite.svg
  week2_PARKCHAEYEON/src/App.jsx
  week2_PARKCHAEYEON/src/assets/chaeyeon.png
  week2_PARKCHAEYEON/src/assets/dahyun.png
  week2_PARKCHAEYEON/src/assets/gahyun.png
  week2_PARKCHAEYEON/src/assets/gunhwi.png
  week2_PARKCHAEYEON/src/assets/sujeong.png
  week2_PARKCHAEYEON/src/assets/yoonji.png
  week2_PARKCHAEYEON/src/data.js
  week2_PARKCHAEYEON/src/main.jsx
  week2_PARKCHAEYEON/vite.config.js
  week2_PARKCHAEYEON/yarn.lock
Labels: week2

#11 [week2_김다현 실습]
  week2_KIMDAHYUN/.eslintrc.cjs
  week2_KIMDAHYUN/.gitignore
  week2_KIMDAHYUN/README.md
  week2_KIMDAHYUN/index.html
  week2_KIMDAHYUN/package-lock.json
  week2_KIMDAHYUN/package.json
  week2_KIMDAHYUN/public/vite.svg
  week2_KIMDAHYUN/src/App.jsx
  week2_KIMDAHYUN/src/assets/react.svg
  week2_KIMDAHYUN/src/main.jsx
  week2_KIMDAHYUN/vite.config.js
Labels: week2

#12 [week2_김건휘 실습]
  week2_KIMGEONHWI/.gitignore
  week2_KIMGEONHWI/README.md
  week2_KIMGEONHWI/eslint.config.js
  week2_KIMGEONHWI/index.html
  week2_KIMGEONHWI/package.json
  week2_KIMGEONHWI/src/App.jsx
  week2_KIMGEONHWI/src/List.jsx
  week2_KIMGEONHWI/src/constants/member.js
  week2_KIMGEONHWI/src/main.jsx
  week2_KIMGEONHWI/vite.config.js
  week2_KIMGEONHWI/yarn.lock
Labels: week2

#13 [week2_김가현 실습]
  week2_KIMGAHYEON/.gitignore
  week2_KIMGAHYEON/README.md
  week2_KIMGAHYEON/eslint.config.js
  week2_KIMGAHYEON/index.html
  week2_KIMGAHYEON/package.json
  week2_KIMGAHYEON/public/vite.svg
  week2_KIMGAHYEON/src/App.jsx
  week2_KIMGAHYEON/src/components/ToDoList.jsx
  week2_KIMGAHYEON/src/constants/todo.js
  week2_KIMGAHYEON/src/main.jsx
  week2_KIMGAHYEON/vite.config.js
  week2_KIMGAHYEON/yarn.lock
Labels: week2

#14 [week3_이윤지 실습]
  week3/.gitignore
  week3/README.md
  week3/package.json
  week3/public/favicon.ico
  week3/public/index.html
  week3/public/logo192.png
  week3/public/logo512.png
  week3/public/manifest.json
  week3/public/robots.txt
  week3/src/App.js
  week3/src/App.test.js
  week3/src/index.css
  week3/src/index.js
  week3/src/logo.svg
  week3/src/reportWebVitals.js
  week3/src/setupTests.js
  week3/yarn.lock
Labels: week3

#15 [week3_한수정 실습]
  week3_HANSOOJEONG/.gitignore
  week3_HANSOOJEONG/README.md
  week3_HANSOOJEONG/eslint.config.js
  week3_HANSOOJEONG/index.html
  week3_HANSOOJEONG/package.json
  week3_HANSOOJEONG/public/vite.svg
  week3_HANSOOJEONG/src/App.css
  week3_HANSOOJEONG/src/App.jsx
  week3_HANSOOJEONG/src/assets/react.svg
  week3_HANSOOJEONG/src/conponents/ComponentsMemory.jsx
  week3_HANSOOJEONG/src/conponents/RenderCommit.jsx
  week3_HANSOOJEONG/src/conponents/Responding.jsx
  week3_HANSOOJEONG/src/conponents/Snapshot.jsx
  week3_HANSOOJEONG/src/index.css
  week3_HANSOOJEONG/src/main.jsx
  week3_HANSOOJEONG/vite.config.js
  week3_HANSOOJEONG/yarn.lock
Labels: week3

#16 [week3_김건휘 실습]
  node_modules/.yarn-integrity
  week1_KIMGEONHWI/.gitignore
  week1_KIMGEONHWI/README.md
  week1_KIMGEONHWI/eslint.config.js
  week1_KIMGEONHWI/index.html
  week1_KIMGEONHWI/package.json
  week1_KIMGEONHWI/public/vite.svg
  week1_KIMGEONHWI/src/App.jsx
  week1_KIMGEONHWI/src/components/Button.jsx
  week1_KIMGEONHWI/src/components/Card.jsx
  week1_KIMGEONHWI/src/components/Greeting.jsx
  week1_KIMGEONHWI/src/components/Message.jsx
  week1_KIMGEONHWI/src/components/UserProfile.jsx
  week1_KIMGEONHWI/src/main.jsx
  week1_KIMGEONHWI/vite.config.js
  week1_KIMGEONHWI/yarn.lock
  week2_KIMGEONHWI/.gitignore
  week2_KIMGEONHWI/README.md
  week2_KIMGEONHWI/eslint.config.js
  week2_KIMGEONHWI/index.html
  week2_KIMGEONHWI/package.json
  week2_KIMGEONHWI/src/App.jsx
  week2_KIMGEONHWI/src/List.jsx
  week2_KIMGEONHWI/src/constants/member.js
  week2_KIMGEONHWI/src/main.jsx
  week2_KIMGEONHWI/vite.config.js
  week2_KIMGEONHWI/yarn.lock
  week3_KIMGEONHWI/week3_KIMGEONHWI/.gitignore
  week3_KIMGEONHWI/week3_KIMGEONHWI/README.md
  week3_KIMGEONHWI/week3_KIMGEONHWI/eslint.config.js
  week3_KIMGEONHWI/week3_KIMGEONHWI/index.html
  week3_KIMGEONHWI/week3_KIMGEONHWI/package.json
  week3_KIMGEONHWI/week3_KIMGEONHWI/src/App.jsx
  week3_KIMGEONHWI/week3_KIMGEONHWI/src/main.jsx
  week3_KIMGEONHWI/week3_KIMGEONHWI/vite.config.js
  week3_KIMGEONHWI/week3_KIMGEONHWI/yarn.lock
  yarn.lock
Labels: week3

#19 [week3_김다현 실습]
  week3_KIMDAHYUN/.eslintrc.cjs
  week3_KIMDAHYUN/.gitignore
  week3_KIMDAHYUN/README.md
  week3_KIMDAHYUN/index.html
  week3_KIMDAHYUN/package-lock.json
  week3_KIMDAHYUN/package.json
  week3_KIMDAHYUN/public/vite.svg
  week3_KIMDAHYUN/src/App.jsx
  week3_KIMDAHYUN/src/assets/react.svg
  week3_KIMDAHYUN/src/index.css
  week3_KIMDAHYUN/src/main.jsx
  week3_KIMDAHYUN/vite.config.js
Labels: week3

#18 [week3_박채연 실습]
  week3_PARKCHAEYEON/.gitignore
  week3_PARKCHAEYEON/README.md
  week3_PARKCHAEYEON/eslint.config.js
  week3_PARKCHAEYEON/index.html
  week3_PARKCHAEYEON/package.json
  week3_PARKCHAEYEON/public/vite.svg
  week3_PARKCHAEYEON/src/App.jsx
  week3_PARKCHAEYEON/src/assets/react.svg
  week3_PARKCHAEYEON/src/main.jsx
  week3_PARKCHAEYEON/vite.config.js
  week3_PARKCHAEYEON/yarn.lock
Labels: week3

#25 [Week4 박채연 실습]
  week1_PARKCHAEYEON/.gitignore
  week1_PARKCHAEYEON/README.md
  week1_PARKCHAEYEON/index.html
  week1_PARKCHAEYEON/package.json
  week1_PARKCHAEYEON/public/vite.svg
  week1_PARKCHAEYEON/src/App.jsx
  week1_PARKCHAEYEON/src/assets/react.svg
  week1_PARKCHAEYEON/src/components/MoimCard.jsx
  week1_PARKCHAEYEON/src/components/MoimList.jsx
  week1_PARKCHAEYEON/src/constants/studyData.js
  week1_PARKCHAEYEON/src/main.jsx
  week1_PARKCHAEYEON/vite.config.js
  week1_PARKCHAEYEON/yarn.lock
  week2_PARKCHAEYEON/.gitignore
  week2_PARKCHAEYEON/README.md
  week2_PARKCHAEYEON/index.html
  week2_PARKCHAEYEON/package.json
  week2_PARKCHAEYEON/public/vite.svg
  week2_PARKCHAEYEON/src/App.jsx
  week2_PARKCHAEYEON/src/assets/chaeyeon.png
  week2_PARKCHAEYEON/src/assets/dahyun.png
  week2_PARKCHAEYEON/src/assets/gahyun.png
  week2_PARKCHAEYEON/src/assets/gunhwi.png
  week2_PARKCHAEYEON/src/assets/sujeong.png
  week2_PARKCHAEYEON/src/assets/yoonji.png
  week2_PARKCHAEYEON/src/data.js
  week2_PARKCHAEYEON/src/main.jsx
  week2_PARKCHAEYEON/vite.config.js
  week2_PARKCHAEYEON/yarn.lock
  week3_PARKCHAEYEON/.gitignore
  week3_PARKCHAEYEON/README.md
  week3_PARKCHAEYEON/eslint.config.js
  week3_PARKCHAEYEON/index.html
  week3_PARKCHAEYEON/package.json
  week3_PARKCHAEYEON/public/vite.svg
  week3_PARKCHAEYEON/src/App.jsx
  week3_PARKCHAEYEON/src/assets/react.svg
  week3_PARKCHAEYEON/src/main.jsx
  week3_PARKCHAEYEON/vite.config.js
  week3_PARKCHAEYEON/yarn.lock
  week4_PARKCHAEYEON/.gitignore
  week4_PARKCHAEYEON/README.md
  week4_PARKCHAEYEON/eslint.config.js
  week4_PARKCHAEYEON/index.html
  week4_PARKCHAEYEON/package.json
  week4_PARKCHAEYEON/public/vite.svg
  week4_PARKCHAEYEON/src/App.css
  week4_PARKCHAEYEON/src/App.jsx
  week4_PARKCHAEYEON/src/assets/react.svg
  week4_PARKCHAEYEON/src/index.css
  week4_PARKCHAEYEON/src/main.jsx
  week4_PARKCHAEYEON/vite.config.js
  week4_PARKCHAEYEON/yarn.lock
Labels: week4

#24 [week4_한수정 실습]
  week4_HANSOOJEONG/.gitignore
  week4_HANSOOJEONG/README.md
  week4_HANSOOJEONG/eslint.config.js
  week4_HANSOOJEONG/index.html
  week4_HANSOOJEONG/package.json
  week4_HANSOOJEONG/public/vite.svg
  week4_HANSOOJEONG/src/App.css
  week4_HANSOOJEONG/src/App.jsx
  week4_HANSOOJEONG/src/assets/react.svg
  week4_HANSOOJEONG/src/components/BucketList.jsx
  week4_HANSOOJEONG/src/components/MovingDot.jsx
  week4_HANSOOJEONG/src/components/UpdatingObjects.jsx
  week4_HANSOOJEONG/src/index.css
  week4_HANSOOJEONG/src/main.jsx
  week4_HANSOOJEONG/vite.config.js
  week4_HANSOOJEONG/yarn.lock
Labels: week4

#23 [Week4_김건휘 실습]
  week4/.gitignore
  week4/README.md
  week4/eslint.config.js
  week4/index.html
  week4/package.json
  week4/public/vite.svg
  week4/src/App.jsx
  week4/src/Colors.jsx
  week4/src/Counter.jsx
  week4/src/assets/react.svg
  week4/src/main.jsx
  week4/vite.config.js
  week4/yarn.lock
Labels: week4

#22 [week4_김가현 실습]
  week4_KIMGAHYEON/.gitignore
  week4_KIMGAHYEON/README.md
  week4_KIMGAHYEON/eslint.config.js
  week4_KIMGAHYEON/index.html
  week4_KIMGAHYEON/package.json
  week4_KIMGAHYEON/public/vite.svg
  week4_KIMGAHYEON/src/App.jsx
  week4_KIMGAHYEON/src/components/Background.jsx
  week4_KIMGAHYEON/src/components/Box.jsx
  week4_KIMGAHYEON/src/main.jsx
  week4_KIMGAHYEON/vite.config.js
  week4_KIMGAHYEON/yarn.lock
Labels: week4

#21 [week4_이윤지 실습]
  week4/.gitignore
  week4/README.md
  week4/package-lock.json
  week4/package.json
  week4/public/favicon.ico
  week4/public/index.html
  week4/public/logo192.png
  week4/public/logo512.png
  week4/public/manifest.json
  week4/public/robots.txt
  week4/src/App.css
  week4/src/App.js
  week4/src/App.test.js
  week4/src/index.css
  week4/src/index.js
  week4/src/logo.svg
  week4/src/reportWebVitals.js
  week4/src/setupTests.js
Labels: week4
